<!--The content below is only a placeholder and can be replaced.-->
<header id="toolbar-view">
  Jexport <label>Filter Id:<input [(ngModel)]="filterId" placeholder="id"></label>
  <button (click)="loadPage()">Load page</button>
  <div>
  <span>{{errorDesc}}</span>
  </div>
</header>

<div [innerHtml]="summaryList">
</div>

<div [innerHtml]="detailedList">
</div>
