/* You can add global styles to this file, and also import other style files */

#toolbar-view {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: lightgray;
  border-bottom: 2px solid darkblue;
  padding: 16px 8px;
  width: 100%;
}

th.colHeaderLink {
  font-weight: bold;
}

th.headerrow-issuekey {
  width: 4em;
}

table.confluenceTable {
  border-collapse: collapse;
}

table.confluenceTable, th.confluenceTh, td.confluenceTd {
  border: 1px solid black;
}

@media print {
  #toolbar-view {
    display: none;
  }

  a[href]:after {
    content: none !important;
  }

  a {
    text-decoration: none;
    color: black;
  }
}
